$color-a: #70675F;
$color-encabezado: #E9A788;
$color-letras: #060D09;
$color-fondo: #F2E9D8;

$fuente-titulos:"Tilt Neon", sans-serif;
$fuente-textos: "DM Sans", sans-serif;

$letra-grande: 2rem;;
$letra-media: 1.3rem;
$letra-chica: 1rem;

$font-hover-active: bold;
$sin-estilo: none;

$texto-centrado: center;
$texto-izquierda: left;